:host {
    display: block;
    min-height: 100vh;
    background: #646079
}

.home-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.conteudo-pagina {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 40px;
}

.login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150%;
    max-width: 380px;

    margin-bottom: 90px;
    padding: 28px;
    border-radius: 20px;

    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}


.form-group {
    margin-bottom: 18px;
}

.form-group label {
    font-size: 14px;
    color: #4f1f96;
}

.form-input {
    width: 100%;
    height: 42px;

    margin-top: 6px;
    padding: 0 12px;

    border: none;
    border-radius: 10px;

    background: #7297dd;
    color: #fff;
}

.form-input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.form-input:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(57, 77, 224, 0.3);
}

.submit-btn {
    width: 100%;
    height: 42px;

    margin-top: 10px;

    border: none;
    border-radius: 10px;

    background: #521eed;
    color: #fff;

    font-weight: 600;
    cursor: pointer;
}

.submit-btn:hover {
    background: #2b3bb5;
}

.register-link {
    margin-top: 16px;
    text-align: center;
}

.register-link a {
    font-size: 13px;
    color: #1f2c96;
    text-decoration: none;
    cursor: pointer;
}

.register-link a:hover {
    color: #394de0;
}

@media (max-width: 480px) {
    .login-form {
        padding: 20px;
    }
}

.password-field {
    position: relative;
}

.form-input {
    width: 100%;
    padding-right: 40px;
}

.toggle-senha-btn {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #ffffffb3;
    font-size: 20px;
    user-select: none;

}

.app-footer-default {
    margin-top: auto;
}

.btn-voltar {
    position: absolute;
    top: 5px;
    right: 8px;
    padding: 9px 18px;
    font-size: 16px;
    background-color: #9291bb;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.btn-voltar:hover {
    background-color: #7c70c4;

}

.btn-voltar ng-icon {
    position: relative;
    top: -3px;
    right: -3px;
}