<div class="home-container">
    <app-header></app-header>

    <section class="conteudo-pagina">
        <div class="login-content">

            <button class="btn-voltar" routerLink="home">
                <ng-icon name="featherCornerUpLeft" size="22"></ng-icon>
                <span>Voltar</span>
            </button>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">

                <h2>
                    @if(!isRecoveryMode){
                    Login acesso adiministrativo
                    } @else {
                    Redefinição de senha
                    }
                </h2>

                @if(isRecoveryMode){
                <p class="recovery-text">
                    Informe seu email para receber o link de redefinição de senha.
                </p>
                }


                <div class="form-group">

                    <label>Email</label>

                    <input type="email" placeholder="Digite seu email" formControlName="email" class="form-input">

                    @if (loginForm.get('email')?.touched &&
                    loginForm.get('email')?.invalid)
                    {
                    <small>Email inválido</small>
                    }

                </div>

                @if(!isRecoveryMode){

                <div class="form-group">

                    <label>Senha</label>

                    <div class="password-field">
                        <input [type]="mostrarSenha ? 'text' : 'password'" placeholder="Digite sua senha"
                            formControlName="password" class="form-input">

                    </div>

                    @if (loginForm.get('password')?.touched && loginForm.get('password')?.invalid) {
                    <small>Mínimo 6 caracteres</small>
                    }
                </div>

                }

                <button type="submit" class="submit-btn">

                    @if(!isRecoveryMode){
                    Entrar
                    } @else {
                    Enviar link
                    }

                </button>

                <div class="register-link">

                    @if(!isRecoveryMode){

                    <a routerLink="/cadastro">
                        Cadastre-se
                    </a>

                    <br />

                    <a (click)="toggleRecoveryMode()">
                        Esqueci a senha
                    </a>

                    } @else {

                    <a (click)="toggleRecoveryMode()">
                        Voltar para login
                    </a>

                    }

                </div>

            </form>

        </div>
    </section>

    <app-footer-default></app-footer-default>

</div>